

<h1>Welcome Administrator</h1>
<div class="container-fluid">

    <div class="row">

        <div class="card mb-2 ml-2 text-center" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Halls</h5>
                <p class="card-text">All about Halls</p>
                <div class="row">
                    <a href="#" class="btn btn-primary ml-5"><i class="fa fa-pencil pr-2" aria-hidden="true"></i>add</a>
                    <a href="#" class="btn btn-primary ml-4"><i class="fa fa-pencil pr-2" aria-hidden="true"></i>all</a>
                </div>
            </div>
        </div>

        <div class="card mb-2 ml-2 text-center" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Students</h5>
                <p class="card-text">All about Students</p>
                <div class="">
                    <a href="#" class="btn btn-primary ml-5"><i class="fa fa-pencil pr-2" aria-hidden="true"></i>view</a>
                    <a href="#" class="btn btn-primary ml-4"><i class="fa fa-pencil pr-2" aria-hidden="true"></i>add</a>
                </div>
            </div>
        </div>

                
    </div>

</div>
